body {
    margin: 0;
    overflow: hidden; /* Hide any potential scrollbar */
}

.circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
    top: 10%;
    left: 10%
}

.universe {
    width: 100vw;
    height: 100vh;
    background-color: black;
}